<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= edit_field_link @message, :title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= simple_format message.body %>
  </p>

</div>
